.blue-half {
	background-color: blue;
    height: 700px;
    border-radius: 0% 100% 100% 0%;
    margin-left: -89%;
    width: 651px;
}	
.otp-input {
	margin-left: 40%;
}
.otp-input input {
	width: 2em !important;
    font-size: 34px;
    text-align: center !important;
    height: 2em;
}